@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: 'Bebas Neue', cursive;;
  
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

input, select, option, optgroup, textarea, button,
pre, code {
  font-size: 100%;
  font-family: inherit;
}

ol, ul {
  list-style: none;
}

.App {
  text-align: center;
  background-color: #111;
}

.home__page{
  position: relative;
  
}
.intro_animation{
  height: 100vh;
  width: 99.1vw;
  text-align:center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  
}

.name_logo{
  color: #DB202C;
  position: absolute;
  text-align: center;
  font-size: 124px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
  font-weight: 200;
}

.text_scroll1{
  font-size:  200px;
  opacity: 0.2;
  color: #646464;

      line-height: 180px;
    margin: 0;
    padding: 0;
}
.text_scroll2{
  font-size:  200px;
  opacity: 0.2;
  color: #646464;
      line-height: 180px;
    margin: 0;
    padding: 0;
}
.text_scroll3{
  font-size:  200px;
  opacity: 0.2;
  color: #646464;
      line-height: 180px;
    margin: 0;
    padding: 0;
}
.text_scroll4{
  font-size:  200px;
  opacity: 0.2;
  color: #646464;
      line-height: 180px;
    margin: 0;
    padding: 0;
}
