.popup{
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 55;
}
.popup button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}