.movie__details {
  color: white;
  background-color: #111;
  height: 200vh;
}
.poster {
  /* display: flex; */
  justify-content: space-between;
}
.large__poster {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  color: white;
  /* object-fit: contain; */
  max-height: 99vh;
  width: 100%;
  z-index: 1;
  
 
}
.background-blur{
  background-color: rgba(0, 0, 0, 0.692);
  position: absolute;
  top: 0;
  left: 0;
  width: 99vw;
  height: 99vh;
  z-index: 2;

}
.details__fadeBottomm {
  height: 70vh;
  width: 60%;
  z-index: 5;
  margin-top: -955px;
  background-image: linear-gradient(
    -90deg,
    transparent,
    rgba(0, 0, 0, 0.747),
    rgb(0, 0, 0)
  );
}

.movie__info {
  display: flex;
  position: absolute;
  top: 0;
  left: 150px;
  z-index: 22;
  flex-direction: column;
  align-items: flex-start;
  width: 30rem;
  line-height: 1.3;
  padding-top: 20rem;
  margin-top: 100px;
  font-size: 0.8rem;
  max-width: 560px;
  height: 80px;
  padding-left: 2rem;
}

.banner__description{
  color: white;
  width: auto;
  height: 10px;
}
/* Movie OverView */
.movie__overview{
  display: flex;
  position: absolute;
  top: 0;
  z-index: 2;
  margin-top: 50px;
  padding-bottom: 200px;
  padding-top: 50px;
}


.poster__overview{
  width: auto;
  height: 50vh;
  margin-left: 200px;
  border-radius: 10px;
  padding-top: 20px;
}
.movie_story h1{
  font-size: 0.8rem;
  padding-bottom: 40px;
  padding-left: 100px;
  text-align:left ;
  width: 300px;
}


.movie_information{
  display: flex;
  text-align:left;
}
.movie_information h1{
  font-size: 1.2rem;
  padding-bottom: 20px;
  padding-left: 100px;
}

.movie_info h1{
  font-size: 1.2rem;
  padding-bottom: 20px;
  padding-left: 100px;
}

.movie_api_info h1{
  font-size: 1.2rem;
  padding-bottom: 20px;
  padding-left: 100px;
}


/* Cast */
.cast-details {
  display: flex;
  justify-content: center;
  padding-top: 1200px;
}
.img__actor {
  object-fit: contain;
  width: 100%;
  max-height: 40vh;
  /* margin-right: 10px; */
  transition: transform 450ms;
  padding: 0;
}

.row__cast {
  margin-left: 30px;
}

.row__cast h1 {
  font-size: 1rem;
}

.img__cast {
  display: flex;
  flex-direction: column;
}

.trailer__button {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 800;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  margin-bottom: 20px;
  margin-left: 100px;
 
  padding-top: 0.5rem;
  background-color: #D01926;
  padding-bottom: 0.5rem;
}

.trailer__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.video{
  height: 100vh;
  width: 100%;
}