.movie__details {
  color: white;
  background-color: #111;
  height: 100vh;
}
.poster {
  display: flex;
  justify-content: space-between;
}
.large__poster {
  position: relative;
  color: white;
  /* object-fit: contain; */
  max-height: 70vh;
}
.details__fadeBottom {
  height: 70vh;
  width: 60%;
  margin-top: -955px;
  background-image: linear-gradient(
    -90deg,
    transparent,
    rgba(0, 0, 0, 0.747),
    rgb(0, 0, 0)
  );
}

.movie__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45rem;
  line-height: 1.3;
  padding-top: 20rem;
  font-size: 0.8rem;
  max-width: 560px;
  height: 80px;
  padding-left: 2rem;
}
.cast-details {
  display: flex;
  justify-content: center;
}
.img__actor {
  object-fit: contain;
  width: 100%;
  max-height: 40vh;
  /* margin-right: 10px; */
  transition: transform 450ms;
  padding: 0;
}

.row__cast {
  margin-left: 30px;
}

.row__cast h1 {
  font-size: 1rem;
}

.img__cast {
  display: flex;
  flex-direction: column;
}

.trailer__button {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 800;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  margin-top: 50px;
  padding-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
}

.trailer__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.video{
  height: 100vh;
  width: auto;
}